.control {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    @mixin hover {
        background-color: var(--mantine-color-gray-0);
    }
}

.headerText {
    @media (max-width: 600px) {
        font-size: 12px;
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    @media (max-width: 600px) {
        width: 1rem;
        height: 1rem;
    }
}

.cell{
    padding-left: 1.5rem;
    @media (max-width: 600px) {
        font-size: 12px;
    }
}

.container {
    display: flex;
    flex-direction: column;
}